version: "3.8"

services:
  api:
    build: ./api
    ports:
      - "3000:3000"
    env_file:
      - .env

  client:
    build:
      context: ./client
      args:
        VITE_BACKEND: ${VITE_BACKEND}
        VITE_FIREBASE_URL: ${VITE_FIREBASE_URL}
        VITE_GEMINI_API_KEY: ${VITE_GEMINI_API_KEY}
    ports:
      - "80:80"
    env_file:
      - .env
    depends_on:
      - api
