name: Docker CI/CD – Blogify

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1️ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️ Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3️ Build & Push Backend API Image
      - name: Build & Push API Image
        uses: docker/build-push-action@v5
        with:
          context: ./api
          push: true
          tags: |
            balumeduri/my-blog-api:latest
            balumeduri/my-blog-api:v1.0

      # 4️ Build & Push Frontend Client Image
      - name: Build & Push Client Image
        uses: docker/build-push-action@v5
        with:
          context: ./client
          push: true
          tags: |
            balumeduri/my-blog-client:latest
            balumeduri/my-blog-client:v1.0
